body {
    background-color: #D9DEBA;
}

.ibtn {
    background-color: #ccffcc;
    border: 1px dotted;
    width: auto;
    padding: 10px;
    cursor: pointer;
}

.ibtn:hover {
    background-color:#aaddaa;
}

#displayRule {
    background-color: #EFF5CE;
    border: 1px dotted;
    margin: 10px;
    padding: 10px;
    padding-bottom: 55px;
}

#voteResults {
    background-color: #EFF5CE;
    border: 1px dotted;
    margin: 10px;
    padding: 10px;
}

#submissionText {
    max-width: 100%;
    width: 100%;
    height: 180px;
    margin-bottom: 60px;
}

#proposeSubmit {
    margin-top: -45px;
    float: left;
}

#forceAbstain {
    margin-top: -45px;
    float: right;
}

#voteNay {
    top: 10px;
    float: left;
}

#voteYea {
    top: 10px;
    float: right;
}

#sidebar {
    background-color: #EFF5CE;
    text-align: center;
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    width: 262px;
    border-right: 1px dotted #000;
}

#game {
    width: 600px;
    margin-left: 262px;
}

#propose {
    background-color: #EFF5CE;
    border: 1px dotted;
    margin: 10px;
    padding: 10px;
}

#greeter {
    border-bottom: 1px dotted #555;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 91px;
    line-height: 91px;
}

#create {
    top:auto;
    position: absolute;
    bottom: 0;
    border-top: 1px dotted #555;
}


.btn-game {
    border-bottom: 1px dotted #555;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.btn:hover {
    background-color: #CCF5C9;
}

.side-search {
    width: calc(100% - 40px);
    height: 100%;
    line-height: 100%;
    float: left;
}

.side-search-button {
    width: 40px;
    height: 100%;
    float: right;
    line-height: 40px;
    text-align: center;
}
